<div class="task-card" draggable="true">
  <div class="task-card__header">
    <h4 class="task-card__title">{{ task().title }}</h4>
    <div class="menu-trigger">
      <button
        freyButton
        size="small"
        variant="ghost"
        [iconOnly]="true"
        (click)="toggleMenu()"
      >
        <i-lucide [img]="icons.ellipsis"></i-lucide>
      </button>
      <app-menu
        [options]="menuOptions"
        [show]="showMenu()"
        (selected)="onMenuSelect($event)"
      ></app-menu>
    </div>
  </div>

  <div class="task-card__body">
    <p class="task-card__description">{{ task().description }}</p>
  </div>

  <div class="task-card__tags">
    @for (tag of task().tags; track tag) {
      <span class="tag">{{ tag }}</span>
    }
  </div>

  <div class="task-card__meta">
    <i-lucide class="task-card__calendar" [img]="icons.calendarDays"></i-lucide>
    @if (task().dueDate) {
      <span class="due-date"> {{ task().dueDate | date: 'dd/MM/yyyy' }}</span>
    }
    <div class="task-card__priority-container">
      <app-priority [status]="task().priority">
        {{ task().priority | lookup: priorityList }}
      </app-priority>
    </div>
  </div>

  <div>
    <frey-checkbox [readonly]="true" [value]="task().status">
      {{ task().status ? 'Completada' : 'Pendiente' }}
    </frey-checkbox>
  </div>
</div>
