:host {
  --color-background: white;
  --color-border: #cbcbcb;
  --color-description: #7e7e7e;
  --color-chip-bg: #f5f6fa;
  --color-chip: #222;
  --color-chip-border: #e0e0e0;
}

.task-card {
  padding: 0.625rem;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.task-card__description {
  color: var(--color-description);
  word-wrap: break-word;
}

.task-card__meta {
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding-bottom: 0.3125rem;
}

.task-card__calendar {
  width: 1.125rem;
}

.task-card__priority-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-trigger {
  position: relative;
  display: inline-block;
}

.task-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3125rem;
}

.tag {
  display: inline-block;
  background: var(--color-chip-bg);
  color: var(--color-chip);
  border-radius: 1rem;
  padding: 0.25rem 0.9rem;
  font-size: 0.95em;
  font-weight: 400;
  border: 1px solid var(--color-chip-border);
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02);
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.task-card__title {
  word-wrap: break-word;
  line-break: anywhere;
}
