<div class="column">
  <div class="column__header">
    <h3 class="column__title">{{ column().title }}</h3>
    <div class="menu-trigger">
      <button
        freyButton
        size="small"
        variant="ghost"
        [iconOnly]="true"
        (click)="toggleMenu()"
      >
        <i-lucide [img]="icons.ellipsis"></i-lucide>
      </button>
      <app-menu
        [options]="menuOptions"
        [show]="showMenu()"
        (selected)="onMenuSelect($event)"
      ></app-menu>
    </div>
  </div>

  <button freyButton size="small" (click)="addTask()">
    <i-lucide [img]="icons.plus"></i-lucide>
    Agregar nueva Tarea
  </button>

  @for (task of column().tasks; track task.id) {
    <app-task-card [task]="task" (dragstart)="onDragStart($event, task)" />
  }
</div>
