:host {
  --column-bg: #f6f6f7;
  --column-border: #cbcbcb;
  --column-radius: 0.5rem;
}

.column {
  background-color: var(--column-bg);
  border: 1px solid var(--column-border);
  width: 18.75rem; /* 300px */
  border-radius: var(--column-radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem; /* 10px */
}

.column__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-trigger {
  position: relative;
  display: inline-block;
}
