<div>
  <div class="sync-status-wrapper">
    <app-sync-status />
  </div>
</div>

<div class="board">
  @for (column of columnList(); track column.id) {
    <app-column [column]="column" (taskMoved)="onTaskMoved($event)" />
  }

  <div>
    @if (!isAddingColumn()) {
      <button freyButton (click)="toggleAddColumn()">
        <i-lucide [img]="icons.plus"></i-lucide>
        <span>Agregar Columna</span>
      </button>
    } @else {
      <app-column-form
        (closeForm)="toggleAddColumn()"
        (nameColumn)="addColumn($event)"
      ></app-column-form>
    }
  </div>
</div>
