@if (columnList().length !== 0) {
  <div class="header">
    <div class="sync-status-wrapper">
      <app-sync-status />
    </div>
  </div>
  <div
    class="board"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="columnList()"
    (cdkDropListDropped)="onColumnDrop($event)"
  >
    @for (column of columnList(); track column.id; let i = $index) {
      <div cdkDrag class="column-drag-wrapper">
        <app-column
          [column]="column"
          [connectedLists]="columnIds()"
          (taskMoved)="onTaskMoved($event)"
        />
      </div>
    }

    <div>
      @if (!isAddingColumn()) {
        <button class="add" freyButton (click)="toggleAddColumn()">
          <i-lucide [img]="icons.plus"></i-lucide>
          <span>Agregar Columna</span>
        </button>
      } @else {
        <app-column-form
          (closeForm)="toggleAddColumn()"
          (nameColumn)="addColumn($event)"
        ></app-column-form>
      }
    </div>
  </div>
} @else {
  <div class="empty">
    <figure class="empty__figure">
      <img src="empty.svg" alt="Tablero vacío" class="empty__svg" />
    </figure>
    <h1 class="empty__title">¡Empieza tu primer tablero agregando una columna!</h1>
    <span class="empty__description"
      >Organiza tus tareas y proyectos de manera eficiente.</span
    >
    <div class="empty__actions">
      @if (!isAddingColumn()) {
        <button freyButton (click)="toggleAddColumn()">
          <i-lucide [img]="icons.plus"></i-lucide>
          <span>Agregar Columna</span>
        </button>
      } @else {
        <app-column-form
          (closeForm)="toggleAddColumn()"
          (nameColumn)="addColumn($event)"
        ></app-column-form>
      }
    </div>
  </div>
}
