<div class="board">
  @if (!isAddingColumn()) {
    <button freyButton (click)="toggleAddColumn()">
      <i-lucide [img]="icons.plus"></i-lucide>
      <span>Agregar Columna</span>
    </button>
  } @else {
    <app-column-form
      (closeForm)="toggleAddColumn()"
      (nameColumn)="addColumn($event)"
    ></app-column-form>
  }

  <div class="columns-container">
    @for (column of columns(); track column.id) {
      <app-column [column]="column" (taskMoved)="onTaskMoved($event)" />
    }
  </div>
</div>
