<form class="column-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <frey-field>
    <frey-label>Nombre de la columna</frey-label>
    <input
      freyInput
      formControlName="columnName"
      placeholder="Ingresa el nombre de la columna"
      [maxLength]="50"
    />
  </frey-field>
  <div class="column-form__footer">
    <button freyButton type="submit" [disabled]="formGroup.invalid" [size]="'small'">
      Crear columna
    </button>
    <button
      freyButton
      type="button"
      [variant]="'outline'"
      [iconOnly]="true"
      [size]="'small'"
      (click)="closeForm.emit()"
    >
      x
    </button>
  </div>
</form>
